{% extends'MoviesBundle::base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur Movies</h1>
    {% for movie in movies %}
        <a href="{{ path('detailMovies',{'id': movie.id }) }}">
            <img src="{{ asset('media/'~movie.imdbId~'.jpg') }}" alt="{{ movie.title }}" style="width: 15%;">
        </a>
    {% endfor %}
{% endblock %}
