{% extends'MoviesBundle::base.html.twig' %}

{% block title %}Ajout de film | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Ajout de film</h1>
    {{ form(form, {'attr':{'novalidate':'novalidate'}}) }}
{% endblock %}