{% extends'MoviesBundle::base.html.twig' %}

{% block title %}Enregistrement | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Formulaire d'enregistrement</h1>
    {{ form(form, {'attr':{'novalidate':'novalidate'}}) }}
{% endblock %}