h1{
    color: red;
}
#titreH2 {
    width: 100%;
    border-width:2px;
    border-style:ridge;
    border-color:black;
    text-align: center;
    float: left;
}
aside{
    float:left;clear:both;
}
#formulaireCritique{
    clear:both;
    text-align: center;
}
#pageColor{
    color:red;
}